body{
	background-color: #CBF3F0;
}
h3{
	padding-top: 15%;
	font-size: 70px;
	color: #2EC4B6;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}
h6{
	font-size: 20px;
	margin-top: -3%;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}